@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Quicksand:wght@300&display=swap');
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      overflow-x: hidden;
    }

    .nav {
      background-color: #FFFFFF;
      color: black;
      padding: 10px 0;
      position: sticky;
      top: 0;
      border-bottom: 1px solid gray;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navOpenBtn {
      font-size: 20px;
      display: none;
      color: black;
      cursor: pointer;
    }
    .top-header{
        background-color: #8A5C49;
        font-family: 'Quicksand', sans-serif;
        height: 40px;
    }
      
    .top-header p{
      text-decoration: none;
        padding-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
    }
    .top-header a{
      text-decoration: none;
    }
    

    .nav-links {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
    }

    .nav-links li {
      margin: 0 15px;
    }
    li a {
      text-decoration: none;
        color: black;
         font-family: 'Quicksand', sans-serif;
         font-size: 15px;
    }
    li a:hover{
      border-bottom: 1px solid black;
    }

    .search-icon, .cart-icon {
      font-size: 20px;
      margin-right: 10px;
      cursor: pointer;
    }

    .search-box {
      display: none;
      align-items: center;
    }

    .search-box.active {
      display: flex;
    }

    .search-box input {
      margin-left: 5px;
    }

    .dropdown {
      position: relative;
      display: inline-block;
      z-index: 100;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: rgb(250, 247, 247);
      width: 150px;
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    @media screen and (max-width: 768px) {
  .navOpenBtn {
    display: block;
  
  }

  .nav-links {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
    position: absolute;
    top: 60px;
    left: -100%;
    width: 90%;
    height: 100%;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 2;
  }

  .nav-links.show {
    left: 0;
  }

  .nav-links li {
    margin: 10px;
    text-align: left; /* Align text to the left */
  }

}

.carousel{
  z-index: -100;
}

/* ====================End Navbar=================== */

 /* =========start Hero section (2024 Dated Planner - Garden of Dreams) ========== */ 

.price-cut{
  font-family: 'Quicksand', sans-serif;
  text-decoration-line: line-through;
  text-decoration-color: rgb(0, 0, 0);
}
.sale{
  font-family: 'Quicksand', sans-serif;
  background-color: #F5F5F5;
  border-radius: 40%;
  padding: 5px;
  font-size: 10px;
  color: #90604C;


}

.counter-btn button{
  background: transparent;
  border: none;
  font-family: 'Quicksand', sans-serif;

}
.box1{
  border: 1px solid #90604C;

 
}
@media screen and (max-width: 768px) {
  .box1{
    border: 1px solid rgb(0, 0, 0);
    width: 50%;
  }
  }
.add-cart{
  width: 100%;
  height: 7vh;
  margin-top: 10px;
  background-color: #90604C;
  color: white;
  border: none;
  font-family: 'Quicksand', sans-serif;
}
.cart-x:hover{
background-color: #9d705d;
}
.share,.detail{
color: #90604C;
font-family: 'Quicksand', sans-serif;
}
.z{
  background-color: transparent;
  border: 1px solid #90604C;
  color: #90604C;
}

.Garden-dreams{
  font-family: 'Cormorant Garamond', serif;
font-family: 'Quicksand', sans-serif;
}
.main{
  margin-left: 10%;
}
@media screen and (max-width: 768px) {
  .main{
    margin-left: 0px;
  }
  }
  /* <!-- =================buckey================ --> */

  .add-cart1{
    width: 80%;
    height: 7vh;
    margin-top: 10px;
    background-color: #90604C;
    color: white;
    border: none;
    font-family: 'Quicksand', sans-serif;
  }
  /* <!-- ================= Featured in================ --> */
  .images img{
    width: 300px;
  }
  @media screen and (max-width: 768px) {
    .images img{
      width: 130px;
      display: flex;
      flex-wrap: wrap;
    }
    }


 /* <!-- =================Festive Special Wellness Hampers============== --> */
.festival{
  background-color: #F5F5F5;
  width: 100%;

}
.festival img{
  width: 380px;
}

.shop-heading{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8A5C49;
  font-family: 'Quicksand', sans-serif;
  margin-top: 8px;
  font-weight: 600;
  font-size: 18px;
}
.shop-now{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8A5C49;
  font-family: 'Quicksand', sans-serif;
  margin-top: 8px;
  font-weight: 600;
  font-size: 15px;
  gap: 2px;
}
a{
  text-decoration: none;
}

/* <!-- ================Testimonials================== --> */

/* .testimonial{
  display: flex;
  align-items: center;
  justify-content: center;
} */
.testimonial{
  width: 100%;
  display: block;
  margin: auto;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container11{
  display: flex;
  overflow-x: auto;
}

.box {
  flex: 0 0 calc(33.3333% - 20px); /* col-md-4 */
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}
.box_cart {
  flex: 0 0 calc(33.3333% - 20px); /* col-md-4 */
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 180px;
  border-radius: 10px;
}

.rating {
  color: gold;
  font-size: 24px;
}

.star {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .container {
      flex-wrap: nowrap;
      scroll-snap-type: x mandatory;
  }

  .box {
      flex: 0 0 100%;
      scroll-snap-align: start;
  }
}
/* <!-- =====================Humanhood Gift Card============== --> */
.rs1{
  color: #90604C;
}
.price-btn {
  border: 1px solid #90604C;;
}

/* =====================featured====================== */

.featured img{
width: 250px;
height: 250px;
overflow: hidden;
transition: transform 0.5s linear;

}
.featured img:hover{
 
    transform: scale(1.1);
  }

.featured{
  margin: 20px 20px 0px 80px;
  font-family: 'Quicksand', sans-serif;
}
.featured i{
  font-size: 10px;
}

.featured-product{
  font-family: 'Quicksand', sans-serif;
}
@media screen and (max-width: 767px) {
  .featured{
    margin: 0px 0px 0px 0px;
  
  }
  .featured img{
    height: 150px;
  }

}

/* <!-- ==================Read================ --> */
.read img{
  width: 400px;
  height: 230px;
}
.read a{
  text-decoration: none;
  color: black;

}
.read{
  margin: 0 50px 0 80px;
}

@media screen and (max-width: 767px) {
  .read{
    margin: 0  0px 0  0px;
  }
}

/* <!-- =============footer============ --> */
.footer img{
  width: 300px;
}
.footer{
  font-family: 'Quicksand', sans-serif;
}
.footer li{
  list-style: none;
}
input{
  border: 2px solid black;
}
 .footer input::placeholder{
  color: #8A5C49;
}

/* ============checkout page================= */
.checkout{
  width: 320px;
  padding: 10px;
  background-color: #8A5C49;
  color: white;
  border: none;
}
.checkout:hover{
  background-color: #a47966;
}
.checkout-right{
  float: right;
}

/* =================checkout=========== */
.fa-credit-card{
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.pay-card-text{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 15px 2px 15px;
}
.checkout-card{
  z-index: -100;
}
.ckeckout-body{
  background:#F4F4F4;
}
.Paynow_chekout{
  width: 100%;
  padding: 12px;
  background-color: #8A5C49;
  border: none;
 border-radius: 8px;
 color: white;
}
.checkout-con{
  padding: 0px 10px 0px 150px;
}
.right-checkout{
  background:  #F5F5F5;
  border-left: 0.5px solid gray;
  position: sticky;
  top: 15px;
  z-index: -100;
}
.right-checkout img{
  border-radius: 8px;
}